.about-me {
  padding: 100px 6%;
  background: #b0acac;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: auto;
}

.about-title {
  font-size: 48px;
  margin-bottom: 30px;
  font-weight: 700;
}

.about-text {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #444;
}

@media (max-width: 768px) {
  .about-title {
    font-size: 34px;
  }

  .about-text {
    font-size: 18px;
  }
}
