.featured-section {
  background: #1d1919;
  padding: 100px 20px;
  color: #fff;
}

.featured-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.featured-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blog-card {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  padding-bottom: 20px;
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-card h3 {
  font-size: 1.4rem;
  margin: 20px;
}

.blog-card p {
  font-size: 1rem;
  color: #ccc;
  margin: 0 20px 20px;
}

.read-moree {
  margin-left: 20px;
  color: #ff7a00;
  font-weight: bold;
  text-decoration: none;
}

.read-moree:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .featured-grid {
    grid-template-columns: 1fr;
  }
}
