.navbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0b0b0b;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.auth-buttons {
  display: flex;
  gap: 14px;
}

.login-btn {
  padding: 10px 20px;
  border: 1px solid #ff7a00;
  color: #ff7a00;
  border-radius: 6px;
  text-decoration: none;
}

.signup-btn {
  padding: 10px 22px;
  background: #ff7a00;
  color: #000;
  border-radius: 6px;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding-left: 220px;
}

.mobile-menu {
  background: #0b0b0b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 30px 20px;
}

.mobile-menu a {
  color: #ffffff;
  text-decoration: none;
}

.login-btn,
.signup-btn {
  display: flex;
  align-items: center;        
  justify-content: center;    
  text-align: center;
}

.mobile-auth {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}


@media (max-width: 768px) {
  .nav-links,
  .auth-buttons {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
